.Dashboard {
    overflow-y: auto;
    background-color: rgb(237, 238, 241);
}

.Dashboard-main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }

.Dashboard-leftBar {
    width: 15vw;
}

.Dashboard-firstDiv {
    margin-top: 10vh;
    width: 100vw;
    padding-bottom: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.Dashboard-projectLogo {
    width: 25%;
    margin: 20px;
}

.Dashboard-firstDivLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Dashboard-firstDivForm {
    width: 45vw;
    height: 429px;
    margin: 20px 20px 10px 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dashboard-firstDivSmallForm {
    width: 30vw;
    height: 200px;
    margin: 20px 20px 10px 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}


.Dashboard-firstDivSmallFormRight { 
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Dashboard-firstDivSmallFormRightText {
    font-family: Metropolis;
    font-size: 30px;
    width: 100%;
    text-align: left;
    color: #2a3d66;
}

.Dashboard-firstDivSmallFormRightSmallText {
    font-family: Metropolis-Light;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    color: #2a3d66;
}