.ProjectSelection-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(30deg, rgba(42, 61, 102, 1) 0%, rgba(52,123,164,1) 100%);
  }

.ProjectSelection-logo {
    width: 6em;
    margin: 10px 30px 10px 30px;
}

.ProjectSelection-title {
    font-family: Metropolis-Bold;
    font-size: 22px;
    color: white;
    margin: 0px 20px 20px 20px;
}

.ProjectSelection-form {
    width: 40vw;
    max-height: 50vh;
    overflow-y: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    max-width: 400px;
}

.ProjectSelection-option {
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(228, 228, 228);
}


.ProjectSelection-option:hover {
    animation: fillOption 0.5s forwards;
}

@keyframes fillOption {
    0% {
        background-color: white;
    }
    100% {
        background-color: rgb(228, 228, 228);
    }
}

.ProjectSelection-optionLogo {
    width: 20%;

}

.ProjectSelection-optionRight {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

.ProjectSelection-optionTitle {
    font-family: Metropolis;
    font-size: 16px;
}

.ProjectSelection-optionText {
    font-family: Metropolis-Light;
    font-size: 12px;
    margin-top: 7px;
}

.ProjectSelection-add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    cursor: pointer;
}

.ProjectSelection-add:hover .ProjectSelection-addIcon {
    color: #f5a64c;
}

.ProjectSelection-add:hover .ProjectSelection-addText {
    opacity: 0.8;
}

.ProjectSelection-addIcon {
    color: white;
    font-size: 20px;
    margin-bottom: 2px;
}

.ProjectSelection-addText {
    color: white;
    font-family: Metropolis-Light;
    margin-left: 10px;
    font-size: 20px;
}

.ProjectSelection-archive {
    cursor: pointer;
    bottom: 0;
    left: 0;
    margin: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectSelection-archive:hover {
    opacity: 0.75;
}

.ProjectSelection-archiveIcon {
    color: #f5a64c;
    font-size: 1.5em;
    margin-bottom: 2px;
}

.ProjectSelection-archiveText {
    color: white;
    font-family: Metropolis;
    margin-left: 10px;
    font-size: 20px;
}

/* NEW PROJECT CSS */

.ProjectSelection-newMain {
    overflow-y: auto;
    height: 100vh;
    background: linear-gradient(30deg, rgba(42, 61, 102, 1) 0%, rgba(52,123,164,1) 100%);
  }

  .ProjectSelection-close {
      margin: 20px;
      margin-top: 4.5vw;
      cursor: pointer;
      font-size: 45px;
      position: absolute;
      color: white;
  }

  .ProjectSelection-close:hover {
      color: #f5a64c;
  }

  .ProjectSelection-newDiv {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: newProject 1s forwards;
  }

  @keyframes newProject {
    0% {
        margin-top: 200px;
    }
    100% {
        margin-top: 50px
    }
  }

  .ProjectSelection-newTitle {
    font-family: Metropolis-Bold;
    font-size: 26px;
    color: white;
}

.ProjectSelection-newMainDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.ProjectSelection-newMainDivLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.ProjectSelection-newMainDivLeftIcon {
    font-size: 70px;
    padding: 20px;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.ProjectSelection-newMainDivLeftIcon:hover {
    border: 2px solid #f5a64c;
    color: #f5a64c;
}

.ProjectSelection-newMainDivLeftText {
    font-size: 16px;
    color: white;
    font-family: Metropolis-Light;
    margin-top: 10px;
}

.ProjectSelection-newMainDivRight {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.ProjectSelection-newMainDivRightText {
    font-size: 18px;
    color: #2a3d66;
    font-family: Metropolis;
    margin-top: 10px;
}

.ProjectSelection-input {
    border: 0;
    text-align: center;
    border-bottom: 1px solid #2a3d66;
    padding: 5px ;
    margin-top: 10px;
    height: 30px;
    width: 90%;
    outline: none;
    font-family: Metropolis-Light;
    font-size: 18px;
    resize: none;
    margin-bottom: 20px;
}

.ProjectSelection-inputText {
    border: 1px solid #2a3d66;
    border-radius: 5px;
    padding: 10px ;
    margin-top: 10px;
    height: 80px;
    width: 90%;
    outline: none;
    font-family: Metropolis-Light;
    font-size: 18px;
    resize: none;
    margin-bottom: 10px;
}

.ProjectSelection-newSubmit {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-size: 30px;
    color: #2a3d66;
    border-radius: 100%;
    padding: 1vw;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.ProjectSelection-newSubmit:hover {
    background-color: #f5a64c;
}