    .main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .logo {
    min-width: 200px;
    max-width: 300px;
    width: 20vw;
    margin: 20px;
    margin-top: 3vh;
  }
  
  .title {
    font-family: Metropolis;
    font-size: 28px;
    color: #2d4e77;
    margin: 10px;
    margin-top: 0;
  }
  
  .input {
    width: 70vw;
    max-width: 330px;
    text-align: center;
    height: 30px;
    margin: 10px;
    margin-bottom: 40px;
    border: 0;
    border-radius: 3px;
    padding: 10px;
    border-bottom: 4px solid #2d4e77;
    outline: none;
    font-size: 18px;
    color: black;
    font-family: Metropolis-Light;
  }
  
  .button {
    margin: 20px;
    margin-top: 10px;
    background-color: #2d4e77;
    max-width: 200px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Metropolis-Light;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    height: 40px;
  
  }
  
  .button:hover {
    cursor: pointer;
    background-color: #2d4e77b0;
  }
  
  .copyright {
    font-family: Metropolis-Light;
    font-size: 12px;
    color: black;
    margin: 10px;
    margin-top: 20px;
  }
  
  .signup {
    font-family: Metropolis-Regular;
    font-size: 16px;
    color: black;
    margin: 10px;
  }
  
  .signup2 {
    font-family: Metropolis-Regular;
    font-size: 16px;
    color: black;
    text-decoration: underline;
    margin: 10px;
  }
  
  .signup2:hover {
    cursor: pointer;
  }