.LeftBar-main {
    width: 14vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(30deg, rgba(42, 61, 102, 1) 0%, rgba(52,123,164,1) 100%);
    position: fixed;
    z-index: 999;
}

.LeftBar-logo {
    margin-top: 1.7vw;
    width: 80%;
    margin-bottom: 1.5vw;
}

.LeftBar-optionActive  {
    border-left: 12px solid #f5a64c;
}

.LeftBar-option, .LeftBar-optionActive {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 50px;
    padding: 5px;
    padding-right: 0;
    padding-left: 0;
    width: 101%;
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s ease-out;
}


.LeftBar-option:hover {
    background-position: left bottom;
}

.LeftBar-option:hover .LeftBar-optionText {
    color: #2a3d66;
}

.LeftBar-option:hover .LeftBar-optionIcon  {
    color: #2a3d66;
}

.LeftBar-optionText {
    font-family: Metropolis;
    font-size: 16px;
    color: white;
    margin-left: 5px;
    transition: all .4s ease-out;
}

.LeftBar-optionIcon {
    font-size: 24px;
    color: white;
    transform: scaleX(-1);
    margin-right: 5px;
    margin-left: 15px;
    transition: all .6s ease-out;
}

.LeftBar-changeProject {
   cursor: pointer;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   bottom: 0;
   height: 70px;
   width: 80%;
   border-top: 1px solid white;
}

.LeftBar-changeProject:hover .LeftBar-changeProjectText {
    color: #f5a64c;
}

.LeftBar-changeProject:hover .LeftBar-changeProjectIcon {
    color: #f5a64c;
}


.LeftBar-changeProjectText {
    font-family: Metropolis;
    font-size: 16px;
    color: white;
    margin-right: 5px;
}

.LeftBar-changeProjectIcon {
    font-size: 20px;
    color: white;
    transform: scaleX(-1);
    margin-right: 5px;
}