.TopBar-main {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.TopBar-title {
    font-family: Metropolis-Bold;
    font-size: 22px;
    color: #969595;
    margin-left: 16vw;
    user-select: none;
}

.TopBar-right {
    position: absolute;
    margin-right: 5px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.TopBar-userText {
    font-family: Metropolis-Light;
    font-size: 16px;
    color: #2a3d66;
    margin-right: 10px;
}

.TopBar-user {
    width: 2em;
    margin-right: 20px;
    color: #2a3d66;
}
