@font-face {
  font-family: f-Regular;
  src: url('./Ressources/Fonts/static/Inter-Regular.ttf');
}

@font-face {
  font-family: f-Bold;
  src: url('./Ressources/Fonts/static/Inter-Bold.ttf');
}

@font-face {
  font-family: f-semiBold;
  src: url('./Ressources/Fonts/static/Inter-SemiBold.ttf');
}

@font-face {
  font-family: f-Medium;
  src: url('./Ressources/Fonts/static/Inter-Medium.ttf');
}

@font-face {
  font-family: f-Light;
  src: url('./Ressources/Fonts/static/Inter-Light.ttf');
}

@font-face {
  font-family: f-exraLight;
  src: url('./Ressources/Fonts/static/Inter-ExtraLight.ttf');
}

@font-face {
  font-family: f-Black;
  src: url('./Ressources/Fonts/static/Inter-Black.ttf');
}

.regular {
  font-family: f-Regular;
}

.medium {
  font-family: f-Medium;
}

.bold {
  font-family: f-Bold;
}

.light {
  font-family: f-Light;
}

.extraLight {
  font-family: f-exraLight;
}

.black {
  font-family: f-Black;
}


.mainLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.mainLoader h1 {
  font-size: 20px;
  margin-top: 50px;
  border-bottom: 1px solid lightgrey;
}

.logoLoader {
  width: 500px;
  animation: logoAnimation 3s infinite;
}


@keyframes logoAnimation {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Colors */

:root {
  --blue: #152230;
  --red: #9b0d0d;
}